@font-face {
    font-family: 'Raleway' ;
    src: url('src/fonts/Raleway-VariableFont_wght.ttf');
}

*
{
    font-family: 'Raleway', sans-serif;
}

.fa-star
{
    color: #0065FC;
}


.fa-money-bill-wave
{
    color: #0065FC;
}

.fa-child
{
    color: #0065FC;
}

.fa-heart
{
    color: #0065FC;
}

.fa-dog
{
    color: #0065FC;
}

.icon-background2 
{
    color: white;
}

.fa-info 
{
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-color: #f2f2f2;
    border-radius: 50%;
    color: #0065fc;
}

img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header
{
    max-height: 40px;
}

#header
{
    display: flex;
    justify-content: space-between;
}

#header img
{
    width: 5%;
    height: 5%;
}

#header ul
{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

#header ul li a
{
    margin-left: 20px;
    display: block;
}

.intro h1
{
    font-size: 16px;
}

.intro p
{
    font-size: 12px;
}

#search_bar_full
{
    max-width: 30%;
}

#search_bar_button
{
    display: flex;
    justify-content: flex-start;
}

.search_button
{
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #f2f2f2;
}

#filter
{
    display: flex;
    justify-content: space-between;
    max-width: 71%;
}

.button
{
    background-color: white;
    color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#info
{
    max-height: 50px;
}

#result_popular
{
    max-height: 595px;
    overflow: hidden;
}

#result:nth-child(1)
{
    display: flex;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    border: 3px solid;
    border-radius: 10px;
    flex: 1;
    max-height: 595px;
}

#popular
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border: 3px solid;
    border-radius: 15px;
    overflow: hidden;
    max-width: 30%;
    max-height: 595px;
}

#title_popular
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer
{
    display: flex;
    justify-content: flex-start;
}

#result_popular
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

ul
{
    list-style: none;
}

.map_marker
{
    border: 1px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f2f2f2;
}

#result
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70%;
}

#result_block
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 70%;
}

.block1
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 35%;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}

.image_block1
{
    display: flex;
    max-height: 60%;
}

.block2
{
    display: flex;
    background-color: white;
    height: 30%;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}

.image_block2
{
    width: 30%;
}

.text_block2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activity
{
    display: flex;
    flex-direction: column;
    max-height: 495px;
}

#img_activity
{
    display: flex;
    overflow: hidden;
    max-height: 85%;
}

.block3_1
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}

.block3_1_1
{
    height: 45%;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}

.block3_1_2
{
    height: 45%;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}

.block3_2
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}

.block3_2_1
{
    height: 40%;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}

.block3_2_2
{
    height: 50%;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}

.block3
{
    width: 25%;
    background-color: white;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
}

.image_block3
{
    width: 100%;
    height: 90%;
}

#footer
{
    display: flex;
    justify-content: flex-start;
    border: 3px solid;
    background-color: #f2f2f2;
    max-height: 205px;
}

#A_propos
{
    display: flex;
    flex-direction: column;
}