@font-face {
    font-family: 'Raleway' ;
    src: url('src/fonts/Raleway-VariableFont_wght.ttf');
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1366px;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0rem;
}

h3 {
    margin: 2rem 0rem 0rem 0rem;
}

p {
    margin: 0rem;
}

ul {
    list-style: none;
}

.fa-star {
    color: #0065FC;
}

.fa-money-bill-wave {
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 2rem;
}

.fa-child {
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 2rem;
}

.fa-heart {
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 2rem;
}

.fa-dog {
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 2rem;
}

.icon-background2 {
    color: white;
}

.fa-info {
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-color: #f2f2f2;
    border-radius: 50%;
    color: #0065fc;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bold {
    font-weight: bold;
}



/* En-tete */

#header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 25%;
}

#header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 30%;
}

#header ul a {
    display: flex;
    justify-content: center;
    min-width: 30%;
    padding: 12px;
}

#header ul a:hover {
    color: #0065FC;
    border-top: 2px solid;
}

.sign_up {
    display: flex;
    justify-content: center;
    padding: 11px;
    min-width: 30%;
    color: #0065FC;
    font-weight: bold;
}



/* Section Intro recherche et filtres */

main a:hover {
    transform: scale(1.05);
}

#search_filter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem 0rem 2rem 0rem;
    height: 20em;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.search_bar_full {
    display: flex;
    margin: 2rem 0rem 1rem 0rem;
    width: 28rem;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search_bar_int  {
    width: 15rem;
    padding: 1rem;
    border: 1px #f2f2f2 solid;
    font-weight: bold;
}

::placeholder {
    color: black;
    font-size: 1.2rem;
}

.button_search {
    background-color: #0065fc;
    color: white;
    font-size: 1.2rem;
    border: none;
    width: 10rem;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    max-width: 60rem;
}

.bold_filter {
    font-weight: bold;
    font-size: 1rem;
}

.filtre_full {
    display: flex;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.button {
    background-color: white;
    color: black;
    font-size: 1rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 3rem;
    padding-right: 1.5rem;
    height: 3rem;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 1px;
}

.button:hover {
    background-color: #DEEBFF;
}

.info {
    max-height: 25%;
    margin: 1rem 0rem 1rem 0rem;
}



/* Section resultat et populaire */

#result_popular {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 37em;
    overflow: hidden;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    padding: 2em;
    border-radius: 1.5em;
    max-width: 54em;
}

#popular {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1.5em;
    overflow: hidden;
    max-width: 20em;
}



/* Bloc resultat */

#result_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 45%;
    background-color: white;
    border: 5px white solid;
    border-radius: 1.5rem;
    overflow: hidden;
}

.image_block1 {
    display: flex;
    max-height: 60%;
}

.lieu_hebergement {
    padding: 0.5rem 0rem 0rem 1rem;
    font-size: 1.1rem;
}

.prix {
    padding: 0.5rem 0rem 0rem 1rem;
    font-size: 0.90rem;
}

.stars {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem 0rem 1rem 1rem;
}

.lien:hover {
    transform: none;
}



/* Bloc Les plus populaires */

#title_popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.block2 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 8rem;
    border: 5px white solid;
    border-radius: 1.5em;
    overflow: hidden;
}

.image_block2 {
    width: 35%;
}

.text_block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    right: 1rem;
    width: 10em;
}

.lieu_hebergement_2 {
    font-size: 1.1rem;
    padding: 1rem 0rem 0rem 0rem;
}

.prix_2 {
    padding: 0rem 0rem 1rem 0rem;
    font-size: 0.90rem;
}

.stars_2 {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 0.2rem;
}



/* Bloc activite */

#activity {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem 2rem 0rem;
    height: 30rem;
}

#activity h2 {
    margin-bottom: 0rem;
    margin-top: 3rem;
}

#img_activity {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 1rem;
}

.block3 {
    max-width: 25%;
    margin: 1rem 1rem 1rem 0rem;
    background-color: white;
    border-radius: 1.5rem;
    border: 1px white groove;
    overflow: hidden;
}

.block3_1 {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    justify-content: space-between;
    background-color: white;
    border-radius: 1.5rem;
    margin: 1rem 2rem 1rem 1rem;
}

.block3_1_1 {
    display: flex;
    flex-direction: column;
    height: 12rem;
    background-color: white;
    border: 1px white groove;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.block3_1_2 {
    display: flex;
    flex-direction: column;
    height: 9rem;
    background-color: white;
    border-radius: 1.5rem;
    border: 1px white groove;
    margin-top: 1rem;
    overflow: hidden;
}

.block3_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25%;
    background-color: white;
    border-radius: 1.5rem;
    margin: 1rem 0rem 1rem 1rem;
}

.block3_2_1 {
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: white;
    border-radius: 1.5rem;
    border: 1px white groove;
    margin-bottom: 1rem;
    overflow: hidden;
}

.block3_2_2 {
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: white;
    border-radius: 1.5rem;
    border: 1px white groove;
    margin-top: 1rem;
    overflow: hidden;
}

.image_block3 {
    height: 19rem;
    overflow: hidden;
}

.lieu_activités {
    margin: 1rem 0rem 1rem 1rem;
}



/* pied-de-page */

#footer {
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    height: 12rem;
}

#footer ul {
    padding: 0rem;
}

#footer li {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.A_propos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 29rem;
}

.Nos_hebergements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 29rem;
}

.Assistance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 29rem;
}