@font-face {
    font-family: 'Raleway' ;
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

* {
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1366px;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0rem;
}

h3 {
    margin: 2rem 0rem 0rem 0rem;
}

li {
    list-style: none;
}

.fa-star {
    color: #0065FC;
}

.fa-money-bill-wave {
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 2rem;
}

.fa-child {
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 2rem;
}

.fa-heart {
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 2rem;
}

.fa-dog {
    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 2rem;
}

.fa-search {
    visibility: hidden;
}

.icon-background2 {
    color: white;
}

.fa-info {
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-color: #f2f2f2;
    border-radius: 50%;
    color: #0065fc;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bold {
    font-weight: bold;
}

main {
    padding: 2rem;
}

main a:hover {
    transform: scale(1.05);
}


/* En-tete */

#header {
    display: flex;
    padding-left: 1rem;
    padding-right: 2rem;
}

.lien_logo {
    padding: 1rem;
    width: 70%;
    height: 3rem;
}

.logo {
    width: 7rem;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

#header li {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#header li:not(.inscription):hover {
    color: #0065FC;
    border-top: 2px solid;
}

#header li a {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#header li a:hover {
    color: #0065FC;
}

.sign_up {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #0065FC;
    font-weight: bold;
}



/* Section Intro recherche et filtres */

#search_filter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0rem 0rem 2rem 0rem;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.search_bar_full {
    display: flex;
    margin: 2rem 0rem 1rem 0rem;
    width: 28rem;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.search_bar_int  {
    width: 15rem;
    padding: 1rem;
    border: 1px #f2f2f2 solid;
    font-weight: bold;
}

::placeholder {
    color: black;
    font-size: 1.2rem;
}

.bold_search {
    font-weight: bold;
    position: relative;
    left: 0.5rem;
}

.button_search {
    background-color: #0065fc;
    color: white;
    font-size: 1.2rem;
    border: none;
    width: 10rem;
    padding: 1rem;
    overflow: hidden;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

#filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    max-width: 60rem;
}

.bold_filter {
    font-weight: bold;
    font-size: 1rem;
}

.bold_filter_button {
    font-weight: bold;
}

.filtre_full {
    display: flex;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.button {
    background-color: white;
    color: black;
    font-size: 1rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 3rem;
    padding-right: 1.5rem;
    height: 3rem;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: 1px;
}

.button:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
    max-height: 25%;
    margin: 1rem 0rem 1rem 0rem;
}

.text_info {
    margin-left: 1rem;
}


/* Section resultat et populaire */

#result_popular {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: 37em;
    overflow: hidden;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #f2f2f2;
    margin-right: 2rem;
    padding: 2em;
    border-radius: 1.5em;
    width: 65%;
}

#popular {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1.5em;
    overflow: hidden;
    width: 25%;
}



/* Bloc resultat */

#result_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 45%;
    background-color: white;
    padding: 0.2rem;
    box-shadow: 0rem 0.5rem 0.5rem gainsboro;
    border-radius: 1.5rem;
    overflow: hidden;
}

.block1 img {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.image_block1 {
    display: flex;
    max-height: 60%;
}

.lieu_hebergement {
    padding: 0.5rem 0rem 0rem 1rem;
}

.prix {
    padding: 0.5rem 0rem 0rem 1rem;
    font-size: 0.80rem;
}

.stars {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem 0rem 1rem 1rem;
    font-size: 0.80rem;
}

.lien:hover {
    transform: none;
}



/* Bloc Les plus populaires */

#title_popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.block2 {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 7rem;
    padding: 0.2rem;
    border-radius: 1.5em;
    box-shadow: 0rem 0.5rem 0.5rem gainsboro;
    overflow: hidden;
}

.block2 img {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.image_block2 {
    width: 35%;
}

.text_block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    margin: 0.5rem 2rem 0rem 1rem;
}

.lieu_hebergement_2 {
    padding: 0rem 0rem 0.3rem 0rem;
}

.prix_2 {
    font-size: 0.80rem;
}

.stars_2 {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 0.2rem;
    font-size: 0.80rem;
}



/* Bloc activite */

#activity {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem 2rem 0rem;
    height: 35rem;
}

#activity h2 {
    margin-bottom: 0rem;
    margin-top: 3rem;
}

#img_activity {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 1rem;
}

.block3 {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    margin: 1rem 1rem 1rem 0rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.1rem 1rem gainsboro;
    overflow: hidden;
}

.block3_1 {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    justify-content: space-between;
    background-color: white;
    border-radius: 1.5rem;
    margin: 1rem 2rem 1rem 1rem;
}

.block3_1_1 {
    display: flex;
    flex-direction: column;
    height: 12rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.1rem 1rem gainsboro;
    margin-bottom: 1rem;
    overflow: hidden;
}

.block3_1_2 {
    display: flex;
    flex-direction: column;
    height: 12rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.1rem 1rem gainsboro;
    margin-top: 1rem;
    overflow: hidden;
}

.block3_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25%;
    background-color: white;
    border-radius: 1.5rem;
    margin: 1rem 0rem 1rem 1rem;
}

.block3_2_1 {
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.1rem 1rem gainsboro;
    margin-bottom: 1rem;
    overflow: hidden;
}

.block3_2_2 {
    display: flex;
    flex-direction: column;
    height: 50%;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.1rem 1rem gainsboro;
    margin-top: 1rem;
    overflow: hidden;
}

.image_block3 {
    height: 24rem;
    overflow: hidden;
}

.lieu_activités {
    margin: 1rem 0rem 1rem 1rem;
}



/* pied-de-page */

#footer {
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    height: 12rem;
    width: 100%;
}

#footer ul {
    padding: 0rem;
}

#footer li {
    margin: 0.5rem 0rem 0.5rem 0rem;
}

.A_propos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 29rem;
    margin-left: 2rem;
}

.Nos_hebergements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 29rem;
}

.Assistance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 29rem;
}



/* Media queries */

@media all and (max-width: 1024px) {
    #result_popular {
        flex-direction: column-reverse;
        max-height: none;
    }

    #popular {
        width: auto;
        height: 40rem;
        margin-bottom: 2rem;
    }

    .text_block_top {
        justify-content: flex-start;
    }

    #result {
        width: auto;
        height: 31rem;
    }

    .lieu_activités {
        margin-top: 0.5rem;
    }
}

@media all and (max-width: 768px) {
    body {
        padding: 0rem;
    }

    #header {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .inscription {
        padding: 0rem;
    }

    .sign_up {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
    }

    .hebergement {
        width: 50%;
        font-size: 1.5rem;
        border-bottom: #f2f2f2 solid;
    }
    
    .menu_activity {
        width: 50%;
        font-size: 1.5rem;
        border-bottom: #f2f2f2 solid;
    }

    #header li:not(.inscription):hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid;
    }

    #header li {
        padding: 0rem;
    }


/* Section search_filter */

    main {
        padding: 2rem 0rem 2rem 0rem;
    }

    #search_filter {
        margin: 1rem;
    }

    .intro h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .intro p {
        font-size: 1.7rem;
    }

    .search_bar_full {
        width: 110%;
    }

    .search_bar_int {
        width: 50rem;
    }

    .fa-map-marker-alt {
        background-color: #f2f2f2;
        padding: 2rem;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        font-size: 1.5rem;
    }

    .bold_search {
        visibility: hidden;
    }

    .fa-search {
        visibility: visible;
        position: relative;
        bottom: 0.9rem;
    }

    .button_search {
        font-size: 1.4rem;
        width: 8rem;
        padding: 1rem;
        border-radius: 1.5rem;
        position: relative;
        right: 4.4rem;
    }


    .bold_filter {
        font-size: 1.3rem;
        width: 100%;
    }

    .filtre_full {
        font-size: 1rem;
        margin: 1rem 0rem 0rem 0rem;
        position: relative;
        right: 2rem;
    }

    .info {
        display: flex;
        align-items: flex-start;
    }

    .text_info {
        font-size: 1.5rem;
        margin-left: 1rem;
    }


/*Section result_popular */

    #result_popular {
        flex-direction: column-reverse;
        max-height: none;
    }

    #popular {
        max-width: none;
    }

    .block2 {
        margin-bottom: 1rem;
        height: 12rem;
    }

    .text_block2 {
        width: 50%;
        margin-right: 2rem;
        font-size: 1.5rem;
        justify-content: space-between;
    }

    .lieu_hebergement_2 {
        font-size: 1.5rem;
    }

    .prix_2 {
        font-size: 1.5rem;
    }

    #result {
        background-color: white;
        height: auto;
        margin: 0rem;
    }

    #result_block {
        flex-direction: column;
    }

    .block1 {
        width: 99%;
        margin-bottom: 1rem;
        height: 15rem;
    }

    .image_block1 {
        height: 10rem;
    }

    .lien {
        margin-top: 1rem;
        font-size: 1.5rem;
    }


/* Section Activités */

    #activity {
        height: auto;
        margin: 0rem;
        padding:  0rem 2rem 0rem 2rem;
    }

    #img_activity {
        flex-direction: column;
        margin: 1rem 0rem 0rem 0rem;
    }

    .block3 {
        max-width: none;
        width: 100%;
        height: 15rem;
    }

    .block3_1 {
        max-width: none;
        width: 100%;
        margin: 0rem;
    }

    .block3_1_1 {
        height: 15rem;
    }

    .block3_1_2 {
        height: 15rem;
    }

    .block3_2 {
        max-width: none;
    }

    .block3_2_1 {
        height: 15rem;
    }

    .block3_2_2 {
        height: 15rem;
    }

    .image_block3 {
        height: 80%;
    }


/* Footer */

    #footer {
        flex-direction: column;
        height: 100%;
    }

    .A_propos {
        margin-left: 3rem;
        margin-top: 2rem;
        font-size: 1.5rem;
        width: auto;
    }

    .Nos_hebergements {
        margin-left: 3rem;
        font-size: 1.5rem;
    }

    .Assistance {
        margin-left: 3rem;
        font-size: 1.5rem;
    }
}


@media all and (max-width: 425px) {
    body {
        padding: 0rem;
    }

    #header {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .inscription {
        padding: 0rem;
    }

    .sign_up {
        position: absolute;
        top: 1.2rem;
        right: 1rem;
        font-size: 1rem;
    }

    .hebergement {
        width: 50%;
        font-size: 1.2rem;
        border-bottom: #f2f2f2 solid;
    }
    
    .menu_activity {
        width: 50%;
        font-size: 1.2rem;
        border-bottom: #f2f2f2 solid;
    }

    #header li:not(.inscription):hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 2px solid;
    }

    #header li {
        padding: 0rem;
    }


/* Section search_filter */

    main {
        padding: 2rem 0rem 2rem 0rem;
    }

    #search_filter {
        margin: 1rem;
    }

    .intro h1 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    .intro p {
        font-size: 1.2rem;
    }

    .search_bar_full {
        width: 110%;
        height: 4.3rem;
    }

    .search_bar_int {
        width: 50rem;
    }

    .fa-map-marker-alt {
        background-color: #f2f2f2;
        padding: 1.5rem;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        font-size: 1.5rem;
    }

    .bold_search {
        visibility: hidden;
    }

    .fa-search {
        visibility: visible;
        position: relative;
        bottom: 1.5rem;
    }

    .button_search {
        font-size: 1.5rem;
        width: 8rem;
        padding: 1rem;
        border-radius: 1.5rem;
        position: relative;
        right: 4.4rem;
    }

    .bold_filter {
        font-size: 1.3rem;
        width: 100%;
    }

    .filtre_full {
        font-size: 1rem;
        margin: 1rem 0rem 0rem 0rem;
        position: relative;
        right: 2rem;
    }

    .info {
        display: flex;
        align-items: flex-start;
    }

    .text_info {
        font-size: 1.1rem;
        margin-left: 1rem;
        position: relative;
        top: 0.5rem;
    }


/*Section result_popular */

    #result_popular {
        flex-direction: column-reverse;
        max-height: none;
    }

    #popular {
        max-width: none;
    }

    .block2 {
        margin-bottom: 1rem;
        height: 10rem;
    }

    .text_block2 {
        width: 50%;
        margin-right: 2rem;
        margin-left: 3rem;
        font-size: 1rem;
        justify-content: space-between;
    }

    .lieu_hebergement_2 {
        font-size: 1.2rem;
    }

    .prix_2 {
        font-size: 1rem;
    }

    #result {
        background-color: white;
    }

    #result_block {
        flex-direction: column;
    }

    .block1 {
        width: 99%;
    }

    .image_block1 {
        height: 10rem;
    }

    .lien {
        margin-top: 1rem;
        font-size: 1.5rem;
    }


/* Section Activités */

    #activity {
        height: auto;
        margin: 0rem;
        padding:  0rem 2rem 0rem 2rem;
    }

    #img_activity {
        flex-direction: column;
        margin: 1rem 0rem 0rem 0rem;
    }

    .block3 {
        max-width: none;
        width: 100%;
        height: 15rem;
    }

    .block3_1 {
        max-width: none;
        width: 100%;
        margin: 0rem;
    }

    .block3_1_1 {
        height: 15rem;
    }

    .block3_1_2 {
        height: 15rem;
    }

    .block3_2 {
        max-width: none;
    }

    .block3_2_1 {
        height: 15rem;
    }

    .block3_2_2 {
        height: 15rem;
    }

    .image_block3 {
        height: 80%;
    }


/* Footer */

    #footer {
        flex-direction: column;
        height: 100%;
    }

    #footer a {
        font-size: 1rem;
    }

    .A_propos {
        margin-left: 3rem;
        margin-top: 2rem;
        font-size: 1.2rem;
        width: auto;
    }

    .Nos_hebergements {
        margin-left: 3rem;
        font-size: 1.2rem;
    }

    .Assistance {
        margin-left: 3rem;
        font-size: 1.2rem;
    }
}


@media all and (max-width: 375px) {

    .logo {
        width: 7rem;
    }

    main {
        padding-top: 1rem;
    }

    .intro h1 {
        font-size: 1.5rem;
    }

    .intro p {
        font-size: 1.1rem;
    }

    .search_bar_full {
        height: 3.5rem;
    }

    .fa-map-marker-alt {
        font-size: 1.2rem;
        padding: 1.2rem;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .button_search {
        position: relative;
        right: 2rem;
        font-size: 1.2rem;
        padding-top: 1.2rem;
        border-radius: 15px;
    }

    #filter {
        width: 110%;
    }

    .bold_filter {
        font-size: 1.3rem;
    }

    .bold_filter_button {
        font-size: 1rem;
    }

    .button {
        border-width: 2px;
        padding: 0rem 1rem 0rem 2.5rem;
    }

    .text_info {
        font-size: 1rem;
    }

    #popular {
        height: 35rem;
        border-radius: 0rem;
        margin: 0rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    #title_popular {
        font-size: 1rem;
    }

    .block2 {
        height: 8rem;
    }

    .block2 img {
        width: 8rem;
    }

    .text_block2 {
        margin-right: 0rem;
    }

    .lieu_hebergement_2 {
        font-size: 1rem;
    }

    .prix_2 {
        font-size: 0.9rem;
    }

    #result {
        margin: 0rem;
        padding: 2rem 1rem 0rem 1rem;
    }

    #result h2 {
        font-size: 1.3rem;
    }

    .lien {
        font-size: 1.4rem;
    }

    .block1 {
        height: 12rem;
    }

    .block3 {
        height: 12rem;
    }

    .block3_1_1 {
        height: 12rem;
    }

    .block3_1_2 {
        height: 12rem;
    }

    .block3_2 {
        margin-left: 0rem;
    }

    .block3_2_1 {
        height: 12rem;
    }

    .block3_2_2 {
        height: 12rem;
    }

    .lieu_activités {
        margin-top: 1rem;
    }
}


@media all and (max-width: 320px) {
    
    .search_bar_int {
        width: 20rem;
    }

    ::placeholder {
        font-size: 0.7rem;
    }

    .text_block2 {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .block2 img {
        width: 6rem;
    }

    #result {
        margin: 0rem;
    }

    .block3_2 {
        margin-left: 0rem;
    }
}